body{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.header{
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 156px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
.body{
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}
.todo{
    width: 656.58px;
    height: 68.56px;
    background: #25273C;
    border-radius: 30px;
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.1em;
    outline: none;

    color: rgba(255, 255, 255, 0.7);

    padding-left: 20px;
}
.but{
    width: 110.43px;
    height: 68.56px;

    background: rgba(90, 255, 49, 0.6);
    border-radius: 30px;

    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.1em;

    color: white;
    cursor: pointer;
}
.elem{
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.1em;

    color: white;
}
.todo_list{
    gap: 10px;
}