.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.title {
  font-weight: bold;
}

.price {
  font-weight: bold;
}
